/* #heading {
  color: red;
  background-color: yellow;
  font-size: 24px;
} */

/* [data-something] {

} */

.photo {
  border: 10px solid #f0f;
  border-radius: 50%;
  width: 200px;
}

.text {
  text-decoration: underline;
  font-size: 40px;
  color: #f66;
  font-style: italic;
}
