* {
  margin: 0;
}

div {
  background-color: rgb(227, 231, 227);
}

 /* {
 display: flex;
 flex-direction: column;
} */

section {
  height: 100vh;
  display: grid;
  /* fr */
  gap: 5px;
  /* row-gap: 1px;
  column-gap: 5px; */
  /* grid-auto-flow: column; */
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-template-rows: 100px 1fr 100px; */
}
